<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Upwork Buddy</string>
	<key>CFBundleExecutable</key>
	<string>UpworkBuddy</string>
	<key>CFBundleIconFile</key>
	<string>UpworkBuddy</string>
	<key>CFBundleIdentifier</key>
	<string>com.gocodingnow.UpworkBuddy</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>de</string>
		<string>it</string>
		<string>pt-PT</string>
		<string>pt-BR</string>
		<string>ja</string>
		<string>ko</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>uk</string>
		<string>tr</string>
	</array>
	<key>CFBundleName</key>
	<string>Upwork Buddy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://techgocodingnow.github.io/upwork-buddy-project/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>zXNU0AONvXZnorvUqQOnjvDF248xyTq6hlAN2W3hZow=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
